<launch>
    <arg name="init_x" default="-45.0"/>
    <arg name="init_y" default="-45.0"/>
    <arg name="init_z" default="  2.0"/>

    <arg name="end_x"  default=" 30.0"/>
    <arg name="end_y"  default=" 30.0"/>
    <arg name="end_z"  default="  2.0"/>

    <node name="sim_planning_demo" type="sim_planning_demo" pkg="pointcloudTraj" output="screen" required="true">
        <remap from="~waypoints"                  to="/waypoint_generator/waypoints"/>
        <remap from="~odometry"                   to="/odom/fake_odom" />
        <remap from="~PointCloud"                 to="/optical_sensor/observed_map"/>
        <remap from="~position"                   to="/position_cmd"   />

        <param name="mapBoundary/lower_x"         value="-50.0"        />
        <param name="mapBoundary/upper_x"         value=" 50.0"        />
        <param name="mapBoundary/lower_y"         value="-50.0"        />
        <param name="mapBoundary/upper_y"         value=" 50.0"        />
        <param name="mapBoundary/lower_z"         value="  0.0"        />
        <param name="mapBoundary/upper_z"         value="  4.0"        />

        <param name="planParam/plan_rate"         value=" 10.0"        />
        <param name="planParam/safety_margin"     value="  0.5"        />
        <param name="planParam/search_margin"     value="  0.0"        />
        <param name="planParam/max_radius"        value="  5.0"        />
        <param name="planParam/sensing_range"     value=" 30.0"        />
        <param name="planParam/refine_portion"    value="  0.7"        />
        <param name="planParam/sample_portion"    value="  0.3"        />
        <param name="planParam/goal_portion"      value="  0.05"       />
        <param name="planParam/path_find_limit"   value="  0.1"        />
        <param name="planParam/max_samples"       value="  50000"      />
        <param name="planParam/stop_horizon"      value="  2.0"        />
        <param name="planParam/commitTime"        value="  5.0"        />

        <param name="dynamic/vec"                 value="  8.0"        />
        <param name="dynamic/acc"                 value="  4.0"        />
        <param name="dynamic/max_vec"             value="  4.0"        />
        <param name="dynamic/max_acc"             value="  2.5"        />

        <param name="optimization/poly_order_min" value="  4"          />  <!-- min order for the smallest piece of the trajectory -->
        <param name="optimization/poly_order_max" value="  8"          />  <!-- max order for the largest piece of the trajectory -->
        <param name="optimization/minimize_order" value="  3"          />  <!-- 3 for minimize jerk, 2 for minimize acceleration -->

        <param name="demoParam/target_x"          value="$(arg end_x)" />
        <param name="demoParam/target_y"          value="$(arg end_y)" />
        <param name="demoParam/target_z"          value="$(arg end_z)" />
        <param name="demoParam/goal_input"        value="true"         />
        <param name="demoParam/is_limit_vel"      value="true"         />
        <param name="demoParam/is_limit_acc"      value="false"        />
        <param name="demoParam/is_print"          value="false"        />
    </node>

    <node name="trajectory_server" type="traj_server" pkg="pointcloudTraj" output="screen">
        <remap from="~trajectory"                 to="/sim_planning_demo/trajectory"/>
        <remap from="~odometry"                   to="/odom/fake_odom" />
        <remap from="~position_command"           to="/position_cmd"   />

        <param name="optimization/poly_order_min" value="  4"          />
        <param name="optimization/poly_order_max" value="  8"          />
    </node>

    <node name="odom_generator" type="odom_generator" pkg="pointcloudTraj" output="screen">
        <remap from="~odometry"                   to="/odom/fake_odom" />
        <remap from="~command"                    to="/position_cmd"   />

        <param name="init_x"                      value="$(arg init_x)"/>
        <param name="init_y"                      value="$(arg init_y)"/>
        <param name="init_z"                      value="$(arg init_z)"/>
    </node>

    <node name="odom_visualization" type="odom_visualization" pkg="odom_visualization" output="screen">
        <remap from="~cmd"                        to="/position_cmd"   />

        <param name="color/a"                     value="  0.8"        />
        <param name="color/r"                     value="  1.0"        />
        <param name="color/g"                     value="  0.0"        />
        <param name="color/b"                     value="  0.0"        />
        <param name="covariance_scale"            value="100.0"        />
        <param name="robot_scale"                 value="  1.0"        />
        <param name="frame_id"                    value="map"          />
    </node>

    <node name="optical_sensor" type="optical_sensor" pkg="pointcloudTraj" output="screen">
        <remap from="~position"                   to="/position_cmd"   />
        <remap from="~map_mesh"                   to="/map_provider/map_mesh"/>
        <remap from="~observed_map"               to="/optical_sensor/observed_map"/>
        <remap from="~observed_map_image"         to="/optical_sensor/observed_map_image"/>

        <param name="map/resolution"              value="  0.3"        />

        <param name="camera/sense_rate"           value="  3.0"        />
        <param name="camera/width"                value="  320"        />
        <param name="camera/height"               value="  240"        />
        <param name="camera/fov_hor"              value="  90"         />

        <param name="copter/init_x"               value="$(arg init_x)"/>
        <param name="copter/init_y"               value="$(arg init_y)"/>
        <param name="copter/end_x"                value="$(arg end_x)" />
        <param name="copter/end_y"                value="$(arg end_y)" />
    </node>

    <node name="map_provider" type="map_provider" pkg="pointcloudTraj" output="screen">
        <remap from="~all_map"                    to="/map_provider/all_map"/>
        <remap from="~map_mesh"                   to="/map_provider/map_mesh"/>

        <param name="map_boundary/lower_x"        value="-50.0"        />
        <param name="map_boundary/upper_x"        value=" 50.0"        />
        <param name="map_boundary/lower_y"        value="-50.0"        />
        <param name="map_boundary/upper_y"        value=" 50.0"        />

        <param name="obstacles/lower_w"           value="  0.6"        />
        <param name="obstacles/upper_w"           value="  3.2"        />
        <param name="obstacles/lower_h"           value="  1.0"        />
        <param name="obstacles/upper_h"           value=" 10.0"        />

        <param name="map/resolution"              value="  0.3"        />
        <param name="map/obstacles_num"           value="  600"        />
        <param name="map/seed"                    value="  1"          />

        <param name="copter/init_x"               value="$(arg init_x)"/>
        <param name="copter/init_y"               value="$(arg init_y)"/>
        <param name="copter/end_x"                value="$(arg end_x)" />
        <param name="copter/end_y"                value="$(arg end_y)" />
    </node>

    <node name="trajectory_keeper" type="trajectory_keeper" pkg="pointcloudTraj" output="screen">
        <remap from="~trajectory_commit_points"   to="/sim_planning_demo/trajectory_commit_points"/>
        <remap from="~current_trajectory"         to="/trajectory_keeper/current_trajectory"/>

        <param name="files/trajs_archive"         value="/home/galanton/catkin_ws/trajectory_archive"/>
        <param name="files/var_traj_length"       value="/home/galanton/catkin_ws/traj_length"/>
    </node>

<!--    <node name="status_inspector" type="status_inspector" pkg="pointcloudTraj" output="screen" required="true">-->
    <node name="status_inspector" type="status_inspector" pkg="pointcloudTraj" output="screen">
        <remap from="~status_code"                to="/sim_planning_demo/status_code"/>

        <param name="max_time_sec"                value="  120         "/>
        <param name="files/var_exit_code"         value="/home/galanton/catkin_ws/exit_code"/>
    </node>

    <node name="rviz" type="rviz" pkg="rviz" output="screen"
       args="-d $(find pointcloudTraj)/launch/rviz_config/rviz_config.rviz">
    </node>
 </launch>