<launch>
    <node type="map_controller" name="map_controller" pkg="pointcloudTraj" output="screen">
        <remap from="~all_map" to="/map_controller/all_map"/>
        <remap from="~observed_map" to="/map_controller/observed_map"/>
        <remap from="~position" to="/position_cmd"/>

        <param name="sense_rate" value="2.0"/>
        <param name="image_width" value="320"/>
        <param name="image_height" value="240"/>
        <param name="fov_horizontal" value="90"/>

        <param name="only_rendering" type="bool" value="true"/>

        <param name="files/rendered_image" value="/home/galanton/catkin_ws/view.png"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" output="screen"
          args="-d $(find pointcloudTraj)/launch/rviz_config/rviz_map_renderer_config.rviz">
    </node>
</launch>