<launch>
    <node name="map_provider" type="map_provider" pkg="pointcloudTraj" output="screen">
        <param name="map_boundary/lower_x" value="-50.0"/>
        <param name="map_boundary/upper_x" value=" 50.0"/>
        <param name="map_boundary/lower_y" value="-50.0"/>
        <param name="map_boundary/upper_y" value=" 50.0"/>

        <param name="obstacles/lower_w"    value="  0.6"/>
        <param name="obstacles/upper_w"    value="  3.2"/>
        <param name="obstacles/lower_h"    value="  1.0"/>
        <param name="obstacles/upper_h"    value=" 10.0"/>

        <param name="map/resolution"       value="  0.3"/>
        <param name="map/obstacles_num"    value="  600"/>
        <param name="map/seed"             value="  1"  />

        <param name="copter/init_x"        value="-45.0"/>
        <param name="copter/init_y"        value="-45.0"/>
        <param name="copter/end_x"         value=" 30.0"/>
        <param name="copter/end_y"         value=" 30.0"/>
    </node>

    <node name="trajectories_comparison" type="trajectories_comparison" pkg="pointcloudTraj" output="screen">
        <remap from="~trajectories_1"      to="/trajectories_comparison/trajectories_1"/>
        <remap from="~trajectories_2"      to="/trajectories_comparison/trajectories_2"/>

        <param name="files/trajs_1"        value="/home/galanton/catkin_ws/trajectory_bm300"/>
        <param name="files/trajs_2"        value="/home/galanton/catkin_ws/trajectory_archive"/>
    </node>

    <node name="rviz" type="rviz" pkg="rviz" output="screen"
          args="-d $(find pointcloudTraj)/launch/rviz_config/rviz_traj_compare_config.rviz">
    </node>
</launch>